#myInterRow{
  min-width: 360px;
    width: 100%;
}
#myInterMain{
  background-image:url(https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80) ;
 background-repeat: no-repeat;
 background-position: center;
  height: 300px;
 margin-bottom: -30px;
  
}
#myInterText{
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 125px;
  font-weight: bold;

}



#checkInfoButton{
  /* text-align: center; */
  background-color: rgb(199, 195, 195);
  color: #fff;
  font-family: sans-serif;
  height: 60px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center; 
}

#pointButton{
  /* text-align: center; */
  background-color: rgb(199, 195, 195);
  color: #fff;
  font-family: sans-serif;
  height: 60px;
  cursor:pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; 
  
  
}
#myIdeaButton{
  /* text-align: center; */
  background-color: rgb(199, 195, 195);
  color: #fff;
  font-family: sans-serif;
  height: 60px;
  cursor:pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; 
  
  
}
#myInterButton{
  /* text-align: center; */
  background-color: rgb(97, 14, 165);
  color: #fff;
  font-family: sans-serif;
  height: 60px;
  cursor:pointer;
  display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 

}





#checkInfoButton:hover{
  background-color: gray;
}

#pointButton:hover{
  background-color: gray;
}

#myIdeaButton:hover{
  background-color: gray;
}


#annoTitle{
  text-align: left;
}

td{
  font-weight: 500;
  text-align: center;
}
th{
  text-align: center;
  align-content: center;
}
.input-field input:focus + label {
  color: black !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px black !important;
  box-shadow: 0 1px 0 0 black !important;
}
#search{
  color: black;
}
#searchBox{
padding-right: 40px;
}



@media (max-width: 992px){
  
    
  
}
@media (max-width: 600px){
 
    
  
}
