<p>join works!</p>
<button type="button"><a routerLink="/member/revise">회원가입하기</a></button>









  
<div class="row">
  <div id="joinMain" class="col s12"><h3 id="joinText">회원가입</h3></div>
  
  <div id = "cont" class="container">
    
  <div id="joinList" class="col s12 m12 l12">
    <h5 id ="jointext">정보등록</h5>
    <div style="width:4.4em; height:2px; background-color:rgb(97, 14, 165);"></div>
    <div style="width: 100%; height:1px; background-color: rgb(199, 195, 195);"></div>

 
   
      <div class="col s12 m12 l6 offset-l3" id="joinContentsBox">
        
        <div class="input-field col s12" style="margin-bottom: 0;">
          <input id="joinInputEmail" type="email" class="validate"  style="margin-bottom: 0;">
          <label for="joinInputEmail">이메일</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>

        <div class="input-field col s12" >
          <input id="joinInputName" type="text" class="validate" >
          <label for="joinInputName">이름</label>
        </div>

        <div class="input-field col s12" >
          <input id="joinInputPw" type="password" class="validate"  >
          <label for="joinInputPw">비밀번호</label>
         
        </div>

        <div class="input-field col s12">
          <input id="joinInput" type="password" class="validate">
          <label for="joinInput">비밀번호확인</label>
        </div>
        

        <div class="input-field col s12">
  <select class="browser-default">
    <option value="" disabled selected>성별</option>
    <option value="1">남성</option>
    <option value="2">여성</option>
    
  </select>
        </div>
        

        <div class="input-field col s12">
          <input id="joinInputDate" type="date" class="validate">
          <label for="joinInputDate">생년월일</label>
        </div>

        <div class="input-field col s12">
          <input id="joinInputTel" type="tel" class="validate">
          <label for="joinInputTel">전화번호</label>
        </div>

        <div class="input-field col s12">
          <input id="joinInputCom" type="text" class="validate">
          <label for="joinInputCom">소속</label>
        </div>

        <div class="input-field col s12">
          <select class="browser-default">
            <option value="" disabled selected>시도를 선택해주세요</option>
            <option value="seo">서울</option>
            <option value="kyun">경기도</option>
            <option value="jeju">제주도</option>
            
          </select>
                </div>
         
                
                  
                  <div id="joinButtonBox"  class="col s12 m12 l12">
                  <a id="joinButton" class="purple darken-3 waves-effect waves-light btn" routerLink="/member/ckeckInfo">회원가입</a>
                  </div>
      </div>
      
      
    
  
  
  </div>


  </div>
  
</div>


