
  
<div id="findPwRow" class="row">
  <div id="findPwMain" class="col s12"><h3 id="findPwText">비밀번호 찾기</h3></div>
  <div class="container">

    

  <div id="findPwList" class="col s12 m12 l12">
    <h5 id ="findPwtext">비밀번호 찾기</h5>
    <div style="width:4.4em; height:2px; background-color:rgb(97, 14, 165);"></div>
    <div style="width: 100%; height:1px; background-color: rgb(199, 195, 195);"></div>
    
</div>
  


<div class="col s12 m12 l6 offset-l3" id="findPwContentsBox">
  
  <p class="left-align" style="font-weight: 600; padding-left: 11px;">이메일을 입력해주세요</p>
  <div class="input-field col s12">
    <input id="findPwEmail"  type="email"  maxlength='40' class="validate">
    <label for="findPwEmail">이메일</label>
  </div>

  <div id="findPwButtonBox"  class="col s12 m12 l12">
    <a id="findPwButton" class="purple darken-3 waves-effect waves-light btn" routerLink="/member/resetPw">확인</a>
    
  </div>
  
</div>
  </div>
  
</div>



<!-- <button type="button"><a routerLink="/member/myIdea/ideaPush">등록하기</a></button> -->
