


  
  <div class="nav-bar">
    <div class="left"><p><a routerLink="/"><img class= "idea" src="//bicdataidea.com/img/img_logo.png"></a></p></div>
    <div class="right">
      <ul class="nav">
        <li class="top"><a class="topa" routerLink="/board/idea">아이디어 플랫폼</a></li>
        <li class="top"><a class="topa" routerLink="/board/anno">공고정보 게시판</a></li>
        <li class="top"><a class="topa" routerLink="/board/notice">게시판</a></li>
        <li class="top"><a class="topa" routerLink="/board/contact">고객센터</a></li>
        <li class="top"><a class="topa" routerLink="/member/login">로그인</a></li>
        <li class="top"><a class="topa" routerLink="/member/checkInfo">마이페이지</a></li>
      </ul>

    </div>
    
  </div>

