


  <div id="nav-bar" class="row hide-on-med-and-down"  >
    
    <div id="ideaImg" class="col l3"><a routerLink="/"><img   src="//bicdataidea.com/img/img_logo.png"></a></div>
    <div id="navList"  class="col l9">
      <li><a  routerLink="/board/idea">아이디어 플랫폼</a></li>
      <li ><a  routerLink="/board/anno">공고정보 게시판</a></li>
      <li ><a  routerLink="/board/notice">게시판</a></li>
      <li ><a  routerLink="/board/contact">고객센터</a></li>
      <li ><a  routerLink="/member/login">로그인</a></li>
      <li ><a  routerLink="/member/checkInfo">마이페이지</a></li>
    </div>
    
  </div>

  <!-- 테블릿 메뉴 바 -->
  <div id="small-nav-bar" class="row hide-on-large-only">
    
    <div id="ideaImg" class="col s6 offset-s3  m6 offset-m3"><a routerLink="/"><img src="//bicdataidea.com/img/img_logo.png"></a></div>

    


    <!-- <button type='button' id="modal_btn">모달창아 나와랏</button>
    <div class="black_bg"></div>
    <div class="modal_wrap">
        <div class="modal_close"><a href="#">close</a></div>
        <div>
            모달창 내용
        </div>
    <div>
    
    
  -->








    

    <!-- <div id="navList" class="col s3 m3">
      <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img src="images/office.jpg">

          </div>
          <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
          <a href="#name"><span class="white-text name">John Doe</span></a>
          <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
      </ul>
      <a href="#" data-target="slide-out" onclick="bo()" class="sidenav-trigger"><img id="sidebar" src="http://bicdataidea.com/img/img_mobile_trigger.png"></a>
      
    </div>
     -->

     
  </div>


  