<!-- <div class = "foot">
  <div class = "left">
    <p class = "foottoptext" >강원도 춘천시 0000000000000000000000000</p>
    <p class="foottext" >전화번호: 0000000000000</p>
    <p class="foottext" >Copyright: 00000000.All rights Reserced</p>
    <img class= "footidea" src="//bicdataidea.com/img/img_logo.png">
  </div>

  
</div>
 -->


<div class="row">
  <div class="col s12">This div is 12-columns wide on all screen sizes</div>
  <div class="col s6">6-columns (one-half)</div>
  <div class="col s6">6-columns (one-half)</div>
</div>