#csDetailRow{
  min-width: 360px;
    width: 100%;
}
#csDetailMain{
  background-image:url(https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80) ;
 background-repeat: no-repeat;
 background-position: center;
  height: 300px;
 margin-bottom: -30px;
  
}
#csDetailText{
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 125px;
  font-weight: bold;
}
#csDetailtext{
  margin-top: 26px;
  margin-bottom: 19px;
}


#csDetailTitle{
  text-align: left;
}

#noticeButton{
  /* text-align: center; */
  background-color: rgb(199, 195, 195);
  color: #fff;
  font-family: sans-serif;
  height: 60px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center; 
}

#csButton{
  /* text-align: center; */
  background-color: rgb(97, 14, 165);
  color: #fff;
  font-family: sans-serif;
  height: 60px;
  cursor:pointer;
  display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 


}

#csFile{
  border: 1px rgb(199, 195, 195) solid;
 
  padding: 10px 15px;
}
#backbuttonBox{
  display: flex;
  justify-content: flex-end;
}

#csDetailBackButton{
  color: black;
  border: 1px black solid;
  box-shadow:none;
}


@media (max-width: 992px){
  
  .pagination{
    display:none
  }
}
@media (max-width: 600px){
 
  .pagination{
    display:none
  }
}
