

  
<div id="csDetailRow" class="row">
  <div id="csDetailMain" class="col s12"><h3 id="csDetailText">문의게시판</h3></div>
  <div class="container">

    <div id="noticeButton" class="valign-wrapper" class="col s6 m6 l6" routerLink="/board/notice"><h6 >공지사항</h6></div>
    <div id="csButton" class="valign-wrapper" class="col s6 m6 l6" routerLink="/board/cs"><h6  >문의게시판</h6></div>
    
  <div id="csDetailList" class="col s12 m12 l12">
    <h5 id ="csDetailtext">문의게시판</h5>
    <div style="width:4.4em; height:2px; background-color:rgb(97, 14, 165);"></div>
    <div style="width: 100%; height:1px; background-color: rgb(199, 195, 195);"></div>
    
 </div>

<div id="csDetailList" class="col s12 m12 l12">
  <h5 style="font-weight: bold;">문의게시판 제목</h5>
  <p style="font-weight: 600;">작성자 dlksfadjsk 작성일: 2020-02-02</p>
  
  <div style="width: 100%; height:1px; background-color: rgb(199, 195, 195);"></div>
  
</div>

<div id="csDetailList" class="col s12 m12 l12">
  
  <p style="font-weight: 600;">첨부파일</p>

    <p id="csFile" ><a style="color: black;cursor: pointer;">[붙임] 하우투 세이브 어라이프</a></p>
 
  
  
  
  <div style="width: 100%; height:1px; background-color: rgb(199, 195, 195);  position: absolute;"></div>
</div>


<div  class="col s12 m12 l12">
  <pre>Ⅰ. 프로그램 개요

 

    ❍ 프로그램명 : 빅데이터 아이디어 마일리지 프로그램
    
    ❍ 신청대상 : 전 국민
    
    ❍ 참가방법 : 홈페이지 접속 → 회원가입 → 아이디어 게시 → 멘토링 및 리워드 제공
    
    - 홈페이지 : www.bicdataidea.com
    
    ※ 참가자는 아이디어 참여 횟수 제한 없이 다양한 아이디어 제출 가능
    
     
    
    ❍ 기 간 : 2020년 10월 5일 ∼ 2020년 10월 30일
    
    
    ❍ 주관기관 : (재)강원테크노파크
    
    
    ❍ 프로그램 지원내용
    
    - 온라인 플랫폼을 통한 창업아이디어 전 국민 공모 및 전문가 댓글 멘토링
    
    - 도내 유관기관 기업지원사업 안내
    
    - 누적 마일리지에 따른 리워드(강원상품권) 제공 
    
    - 우수아이디어 사업화 전략 전문 멘토링 제공</pre>
    <div id="backbuttonBox" class="col s12 m12 l12">

      <a id="csDetailBackButton" class="white waves-effect waves-light btn" style="margin-right: 5px;" routerLink ="/board/cs/reset">수정하기</a>
      <a id="csDetailBackButton" onclick="history.back()" class="white waves-effect waves-light btn">뒤로</a>
    </div>
    
</div>



  </div>
  
</div>


