#loginMain{
  background-image:url(https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80) ;
 background-repeat: no-repeat;
 background-position: center;
  height: 300px;
  margin-bottom: 50px;
  
}
#loginText{
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 125px;
  font-weight: bold;
  
}


#loginTitle{
  text-align: left;

}


 #loginContentsBox{
   /* height: 300px;
   margin: 50px 0px 30px 0px;
   padding: 30px; */

   margin-top: 30px;
   padding: 50px;
  
  border: 1px solid silver;
  
 }

#loginButton{
 width: 30%;
 padding: 0px; 
}
#loginButtonPw{
  width: 30%;
  font-size: small;
  padding: 0px; 
 }
#loginButtonBox{
 display: flex;
 justify-content: space-between;
}

/* label focus color */
.input-field input:focus + label {
  color: black !important;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px black !important;
  box-shadow: 0 1px 0 0 black !important;
}







@media (max-width: 992px){
  
  
  #loginMain{
    background-image:url(https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80) ;
   background-repeat: no-repeat;
   background-position: center;
    height: 300px;
    margin-bottom: 50px;
    min-width: 360px;
    
  }
  #cont{
    min-width: 360px;
    
  }
  
}
@media (max-width: 600px){
 
  
  #loginMain{
    background-image:url(https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80) ;
   background-repeat: no-repeat;
   background-position: center;
    height: 300px;
    margin-bottom: 50px;
    min-width: 360px;
  }
  #cont{
    min-width: 360px;
    
  }
  #loginButton{
    width: 30%;
    font-size: small;
    padding: 0px; 
   }
  #loginButtonPw{
    width: 30%;
    font-size: x-small;
    padding: 0px; 
   }
   #loginContentsBox{
    
    margin-top: 30px;
    padding: 20px;
   
   border: 1px solid silver;
   
  }
}
