
#ideaMain{
  background-image:url(https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80) ;
 background-repeat: no-repeat;
 background-position: center;
  height: 300px;
  margin-bottom: 50px;
  width: 100%;
  
}

#ideaText{
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 125px;
  font-weight: bold;

}
#ideaRank{
  margin-bottom: 10vh;
  
  
}
#ideaList{
  margin-bottom: 10vh;

  
}
#ideatext{
  font-family: sans-serif;
 
}
#ideaButton{
  background-color: rgb(97, 14, 165);
  float: right;
  margin-top: 11px;
}
#ideaTitle{
  text-align: left;
}
#ideaRankName{
  text-align: left;
}
td{
  font-weight: 500;
  text-align: center;
}
th{
  text-align: center;
  align-content: center;
}
li{
  
  background-color: transparent;
}
.pagination li.active a {
    color: #fff;
    background-color: rgb(97, 14, 165);
}

#search{
  color: black;
}
#searchBox{
padding-right: 40px;
}
/* label focus color */
.input-field input:focus + label {
  color: black !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px black !important;
  box-shadow: 0 1px 0 0 black !important;
}

@media (max-width: 992px){
  #ideaMain{
    background-image:url(https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80) ;
   background-repeat: no-repeat;
   background-position: center;
    height: 300px;
    margin-bottom: 50px;
    
  }
  #ideaRank{
    margin-bottom: 10vh;
    
  }
  #ideaList{
    margin-bottom: 10vh;
    
  }
  .pagination{
    display:none
  }
  #idea{
    min-width: 360px;
    width: 100%;
  }
}
@media (max-width: 600px){
  #ideaMain{
    background-image:url(https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80) ;
   background-repeat: no-repeat;
   background-position: center;
    height: 300px;
    margin-bottom: 50px;
    min-width: 360px;
    width: 100%;
  }
  #ideaRank{
    margin-bottom: 10vh;
    min-width: 340px;
    width: 100%;
  }
  #ideaList{
    margin-bottom: 10vh;
    min-width: 340px;
    width: 100%;
  }
  .pagination{
    display:none
  }
  
}