



<div id="myIdeaRow" class="row">
  <div id="myIdeaMain" class="col s12"><h3 id="myIdeaText">내 아이디어</h3></div>
  <div class="container">

    <div id="checkInfoButton" class="valign-wrapper" class="col s3 m3 l3" routerLink="/member/checkInfo"><h6 id="buttonFont">회원정보수정</h6></div>
    <div id="pointButton" class="valign-wrapper" class="col s3 m3 l3" routerLink="/member/point"><h6 id="buttonFont">포인트현황</h6></div>
    <div id="myIdeaButton" class="valign-wrapper" class="col s3 m3 l3" routerLink="/member/myIdea"><h6 id="buttonFont">내 아이디어</h6></div>
    <div id="myInterButton" class="valign-wrapper" class="col s3 m3 l3" routerLink="/member/myInter"><h6 id="buttonFont">관심 사업</h6></div>


  <div id="myIdeaList" class="col s12 m12 l12">
    
      <div class="row" style="margin: 0;">
        
        <div class="col s8 m8 l8" style="margin-top: 30px; padding-left: 0;">
          <h5 id ="ideatext" >아이디어 리스트</h5>
        </div>
        <div class="col s4" style="padding: 0;">
          <a id = "ideaButton" class="waves-effect waves-light btn" routerLink="/member/myIdea/ideaPush">아이디어 등록하기</a>
        </div>
      </div>
      
      
      <div style="width:4.4em; height:2px; background-color: rgb(55, 202, 212);"></div>
      <div style="width: 100%; height:1px; background-color: rgb(199, 195, 195);"></div>
      
      <table>
        <thead>
          <tr>
            <th style="border-bottom:1px rgb(0, 0, 0) solid;">제목</th>
            <th style="border-bottom:1px rgb(0, 0, 0) solid;">작성일</th>
            
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td id="ideaTitle">마트********</td>
            <td >2020-20-21</td>
            
          </tr>
          <tr>
            <td id="ideaTitle">효과음***********</td>
            <td >2020-20-20</td>
            
          </tr>
          <tr>
            <td id="ideaTitle">한국****************</td>
            <td >2020-20-20</td>
            
          </tr>
        </tbody>
      </table>
      
      
      
      
      <div class="row">
        <div class="col s12">
          
         
            
    
    <div id= "searchBox" class="input-field col s12 m12 l4 offset-l8">
      
      <input type="text" maxlength='40' id="autocomplete-input" class="autocomplete">
      <label for="autocomplete-input"></label>
      <i id="search" class="material-icons prefix">search</i>
      
      
          </div>
        </div>
  


  </div>
  
</div>



