

<div id="pointUseRow" class="row">
  <div id="pointUseMain" class="col s12"><h3 id="pointUseText">포인트현황</h3></div>
  <div class="container">

    <div id="checkInfoButton" class="valign-wrapper" class="col s3 m3 l3" routerLink="/member/checkInfo"><h6>회원정보수정</h6></div>
    <div id="pointButton" class="valign-wrapper" class="col s3 m3 l3" routerLink="/member/point"><h6>포인트현황</h6></div>
    <div id="myIdeaButton" class="valign-wrapper" class="col s3 m3 l3" routerLink="/member/myIdea"><h6>내 아이디어</h6></div>
    <div id="myInterButton" class="valign-wrapper" class="col s3 m3 l3" routerLink="/member/myInter"><h6>관심 사업</h6></div>


  <div id="pointUseList" class="col s12 m12 l12">
    <h5 id ="pointUsetext">포인트현황</h5>
    <div style="width:4.4em; height:2px; background-color:rgb(97, 14, 165);"></div>
    <div style="width: 100%; height:1px; background-color: rgb(199, 195, 195);"></div>
</div>
  <div class="col s12 m12 l12" style="min-height: 500px;" >
    
    <h6 id="pointUseBox"><a id = "pointNow" routerLink="/member/point" >현황</a>/<a id = "pointUse" routerLink="/member/pointUse">사용내역</a>/<a id = "pointSave"  routerLink="/member/pointSave">적립내역</a></h6>
  
    <table>
      <thead>
        <tr>
          <th style="border-bottom:1px rgb(0, 0, 0) solid; font-size: medium; text-align: center; font-weight: bold;">내역</th>
          <th style="border-bottom:1px rgb(0, 0, 0) solid; font-size: medium; text-align: center; font-weight: bold;">포인트</th>
          <th style="border-bottom:1px rgb(0, 0, 0) solid; font-size: medium; text-align: center; font-weight: bold;">일시</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td >마트********</td>
          <td id="list">1000</td>
          <td id="list">2020-20-21</td>
        </tr>
        <tr>
          <td >효과음***********</td>
          <td id="list">1000</td>
          <td id="list">2020-20-20</td>
        </tr>
        <tr>
          <td >한국****************</td>
          <td id="list">1000</td>
          <td id="list">2020-20-20</td>
        </tr>
      </tbody>
    </table>
  
  </div>

  


  </div>
  
</div>



