
#foot{
  background-color:  rgb(199, 195, 195);
  margin: 0;
  height: 100%;
  width: 100%;
  
}

#foottexttop{
  
  
  text-align: left;
  padding-top: 15px;
  
}
#foottextdown{
  
  text-align: left;
  
}

#footidea{
  text-align : right;
  padding: 90px 0px 0px 0px;
  
}
#foottext{
  font-weight: 600;
  font-family: '나눔고딕',sans-serif ;
  
}





@media(max-width: 992px){
  
  #foot{
    height: 150px;
    background-color:  rgb(199, 195, 195);
    margin: 0;
    width: 100vw;
  }
  #foottexttop{
  
    text-align: left;
    padding-top: 15px;
  }
  #foottextdown{
    text-align: left;
  }
  #footidea{
    text-align : right;
    padding: 90px 0px 0px 0px;
  }
  #foottext{
    font-weight: 600;
    font-family: '나눔고딕',sans-serif ;
    
  }
}








@media(max-width: 600px){
  #foot{
    height: 160px;
    background-color:  rgb(199, 195, 195);
    margin: 0;
    width: 100vw;
  }
  #foottexttop{
  
    text-align: left;
    padding: 0;
    
  }
  #foottextdown{
    text-align: left;
  }
  #footidea{
    text-align : left;
    padding: 0;
  }
  #foottext{
    font-weight: 600;
    font-family: '나눔고딕',sans-serif ;
    padding: 0;
    
  }
}



