<!-- <div class = "foot">
  <div class = "left">
    <p class = "foottoptext" >강원도 춘천시 0000000000000000000000000</p>
    <p class="foottext" >전화번호: 0000000000000</p>
    <p class="foottext" >Copyright: 00000000.All rights Reserced</p>
    <img class= "footidea" src="//bicdataidea.com/img/img_logo.png">
  </div>

  
</div>
 -->


<div id="foot" class="row">
  
  <div id="foottext" class="col s12 m8">
    <p id="foottexttop" >강원도 춘천시 0000000000000000000000000</p>
    <p  id="foottextdown" >전화번호: 0000000000000</p>
    <p  id="foottextdown">Copyright: 00000000.All rights Reserced</p>
  </div>
  <div id= "footidea" class="col s12 m4">
    <img class= "footidea" src="//bicdataidea.com/img/img_logo.png">
  </div>
</div>